.Hero {
  background-color: #161616;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  color: white;
  padding: 1rem 4rem;
  min-height: calc(100vh - 92px);
}
.Hero span:nth-child(1) {
  font-size: 3rem;
  text-transform: capitalize;
}
.Hero span:nth-child(2) {
  font-size: 4rem;
  text-transform: capitalize;
  color: #fbae19;
}
.Hero span:nth-child(3) {
  font-size: 4rem;
  text-transform: capitalize;
}
.Hero span:nth-child(4) {
  margin: 2rem 0rem;
  font-size: 1.2rem;
  color: rgb(226, 223, 223);
  line-height: 180%;
  letter-spacing: 0.03em;
}

.Hero span:nth-child(5) {
  font-size: 1.4rem;
  font-weight: bold;
  text-transform: capitalize;
  background-color: #fbae19;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  cursor: pointer;
}
.Hero span:nth-child(5) a {
  padding: 1rem 1.5rem;
}
.Hero span:nth-child(5) a {
  text-decoration: none;
  color: rgb(226, 220, 220);
}
@media (max-width: 700px) {
  .Hero span:nth-child(2) {
    font-size: 3rem;
  }
  .Hero span:nth-child(3) {
    font-size: 3rem;
  }
  .Hero {
    padding: 1rem 2rem;
  }
}
@media (max-width: 500px) {
  .Hero span:nth-child(1) {
    font-size: 2rem;
  }
  .Hero span:nth-child(2) {
    font-size: 2rem;
  }
  .Hero span:nth-child(3) {
    font-size: 2rem;
  }
  .Hero {
    padding: 1rem 2rem;
  }
}
