.Socials {
  color: rgb(189, 189, 189);
  justify-self: flex-end;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
@media (max-width: 700px) {
  .Socials {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    justify-self: unset;
  }
}
